{% extends 'base.html' %}
{% block content %}

<form id="id_password_change_form" method="POST" class="form-signin">{% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
    <input class="form-control" name="id_old_password" type="password" placeholder="Old Password">
    <input class="form-control" name="id_new_password1" type="password" placeholder="New Password">
    <input class="form-control" name="id_new_password2" type="password" placeholder="Confirm Password">
    {% for field in form %}
        {% for error in field.errors %}
        <p>{{error}}</p>
        {% endfor %}
    {% endfor %}
    <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
</form>
{% endblock content %}
