.card-signin{
    width: 100%;
    max-width: 400px;
    padding: 15px;
    margin: auto;
}

.form-signin{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signin .checkbox{
    font-weight: 400;
}

.form-signin .form-control{
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus{
    z-index: 2;
}

.form-signin input[type="email"]{
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="text"]{
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}

.error-registration{
    color: red;
}

.image-container{
    max-width: 250px;
    height: auto;
}

.field-heading{
    color: var(--secondary-text-color);
}

.icon-container:hover{
    opacity: 0.3;
    cursor: pointer;
}

.friends-icon{
    color: #4287f5;
    font-size: 40px;
}

.person-add-icon{
    color: #4287f5;
    font-size: 40px;
}

.friends-btn{
    background-color: #cccccc;
    border-color: #cccccc;
    color: #000;
    font-weight: 500;
}

.friends-btn:hover{
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}

.dropdown-toggle::after{
    content: none;
}

.card{
    border-radius: 12px;
}

.material-icons{
    font-size: 30px;
}

.material-icons:hover{
    cursor: pointer;
}

.confirm-friend-request{
    color: green;
}

.confirm-friend-request:hover{
    opacity: 0.3;
}

.decline-friend-request{
    color: red;
}

.decline-friend-request:hover{
    opacity: 0.3;
}

.message-btn-text{
    font-weight: 500;
}

.profile-image{
    max-height: 100px;
    max-width: 100px;
    border-radius: 12px;
}

.friends-text{
    color: #000;
    font-weight: 500;
}

.friends-text-container{
    border: 1px solid #cccccc;
    border-radius: 12px;
}

.friends-btn:hover{
    background-color: #bfbfbf;
    border-color: #bfbfbf;
}

.profile-link{
    color: #000;
}

.checkmark-icon{
    color: green;
}

.cancel-icon{
    color: red;
}

#id_confirm{
    color: green;
}
#id_confirm:hover {
    opacity: 0.3;
}

#id_cancel{
    color: red;
}

#id_cancel:hover{
    opacity: 0.3;
}
