{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="card card-signin">
            <div class="card-body">
                <form class="form-signin" method="POST">{% csrf_token %}
                    <div class="d-flex flex-column pb-3">
                        <img class="img-fluid" 
                        src="{% static 'images/nico.png' %}" 
                        alt="logo"
                        width="72"
                        height="72">
                    </div>
                    <input type="email" 
                    name="email" 
                    id="inputEmail" 
                    class="form-control"
                    placeholder="Email address" required autofocus>
                    <input type="password" 
                    name="password" 
                    id="inputPassword" 
                    class="form-control"
                    placeholder="Password" required>
                    {% for field in login_form %}
                    <p>
                        {% for error in field.errors %}
                        <p class="error-registration">{{error}}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    {% if login_form.non_field_errors %}
                    <div class="error-registration">
                        <p>{{login_form.non_field_errors}}</p>
                    </div>
                    {% endif %}
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Login
                    </button>
                </form>
                <div class="d-flex flex-column my-4">
                    <a class="m-auto" href="{% url 'account:password_reset' %}">Reset password</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
