{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "media.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="icon" type="image/gif" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <title></title>
</head>
<body>
    <div class="container">
    {% include 'snippets/header.html' %}

        {% block content %}
        {% endblock content %}

    {% include 'snippets/footer.html' %}
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    </div>
</body>
</html>
